@model FashionShop.Models.views.ProductViewModels.UpdateProductViewModel

@{
    ViewBag.Title = "Products Create";
}
@section Styles {
    <!-- plugin css file  -->
    <link rel="stylesheet" href="~/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/plugin/datatables/dataTables.bootstrap5.min.css">
}


<!-- Body: Body -->
<div class="body d-flex py-3">
    <div class="container-xxl">
        <div class="row g-3 mb-3 d-flex justify-content-between">
            <h3 class="fw-bold mb-0" style="width: fit-content;">Product Create</h3>
            <a asp-action="Index" class="btn btn-success" style="width: fit-content;">Về Trang Chủ</a>
        </div>
        <div class="row g-3 mb-3">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="ProductName" class="form-label">ProductName</label>
                    <input tabindex="1" asp-for="ProductName" type="text" class="form-control rounded-pill " id="ProductName" name="ProductName" value="" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Slug" class="form-label">Slug</label>
                    <input readonly asp-for="Slug" type="text" class="form-control rounded-pill " id="Slug" name="Slug" value="" />
                    <span id="errorSlug" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Banner" class="form-label">Banner</label>
                    <input tabindex="2" asp-for="Banner" type="file" class="form-control rounded-pill " id="Banner" name="Banner" value="" />
                    <span asp-validation-for="Banner" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input tabindex="3" asp-for="Description" type="text" class="form-control rounded-pill" id="Description" name="Description" value="" />
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label">Price</label>
                    <input tabindex="4" asp-for="Price" type="number" class="form-control rounded-pill" id="Price" name="Price" value="" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CategoryName" class="form-label">CategoryName</label>
                    <select asp-for="CategoryName" name="CategoryName" class="form-select rounded-pill">
                        <option selected>Select-CategoryName</option>
                        @foreach (var category in Model?.Categories)
                        {
                            <option asp-for="CategoryName">@category.CategoryName</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="Status" class="form-label">Status</label>
                    <select asp-for="Status" name="CategoryName" class="form-select rounded-pill">
                        <option>available</option>
                        <option selected>watting</option>
                        <option>unavailable</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="submit_add">Thêm Sản Phẩm</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function xuLySlug(nameProduct) {
            var result = nameProduct.toLowerCase();
            result = result.replace(/à|ả|ã|á|ạ|ă|ằ|ẳ|ẵ|ắ|ặ|â|ầ|ẩ|ẫ|ấ|ậ/gi, 'a');
            result = result.replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i');
            result = result.replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e');
            result = result.replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o');
            result = result.replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u');
            result = result.replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y');
            result = result.replace(/đ/gi, 'd');
            result = result.replace(/[^a-z0-9\s]/gi, '');
            result = result.replace(/\s+/gi, "-");
            return result;
        }

        function handleCheckSlug() {
            text = $("#ProductName").val(); // lấy giá trị trong trường productname
            text = xuLySlug(text); // xử lý tên productname thành slug
            $("#Slug").val(text); // chèn slug mới xử lý vào trường Slug
            // Kiểm tra xem slug mới tạo có tồn tại chưa
            $.ajax({
                method: "POST",
                url: "@Url.Action("CheckSlug", "Products")",
                data: {
                    slug: text
                },
                success: function (res) {
                    if (res.statusCode == 0) {
                        $("#errorSlug").text("Vui long nhap lai ten san pham, vi slug nay da ton tai");
                        $("#ProductName").focus();
                    } else {
                        $("#errorSlug").text("");
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }

        $(document).ready(function () {
            document.getElementById('ProductName').addEventListener('input', function (e) {
                handleCheckSlug();
            })
        })
    </script>
}




