# Ignore build output directories
bin/
obj/

# Ignore specific files
*.dll
*.exe
*.pdb
*.cache
*.json
*.nuget.g.props

# Ignore Visual Studio and IDE-specific files
.vs/
*.user
*.suo

# Ignore temporary files
*.tmp
*.temp
*.log

node_modules/
/FashionShop-Admin/obj/Debug/net8.0/FashionShop.AssemblyInfoInputs.cache
/FashionShop-Admin/obj/Debug/net8.0/FashionShop.AssemblyInfo.cs
