@model FashionShop.Models.views.LoginViewModel
@{
    Layout = "__Layout";
    ViewData["title"] = "Login";
}
    <!-- main body area -->
    <div class="main p-2 py-3 p-xl-5 ">

        <!-- Body: Body -->
        <div class="body d-flex p-0 p-xl-5">
            <div class="container-xxl">

                <div class="row g-0">
                    <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center rounded-lg auth-h100">
                        <div style="max-width: 25rem;">
                            <div class="text-center mb-5">
                                <i class="bi bi-bag-check-fill  text-primary" style="font-size: 90px;"></i>
                            </div>
                            <div class="mb-5">
                                <h2 class="color-900 text-center">Welcome to Fashion Shop</h2>
                            </div>
                            <!-- Image block -->
                            <div class="">
                                <img src="~/images/login-img.svg" alt="login-img">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
                        <div class="w-100 p-3 p-md-5 card border-0 shadow-sm" style="max-width: 32rem;">
                            <!-- Form -->
                            <form class="row g-1 p-3 p-md-4" method="post" asp-action="Login" asp-controller="Authenticate">
                                <div class="col-12 text-center mb-5">
                                    <h1 class="text-black fw-bold">Sign in</h1>
                                </div>
                                
                                <div class="col-12">
                                    <div class="mb-2">
                                        <label class="form-label" asp-for="Email">Email address</label>
                                        <input type="email" class="form-control form-control-lg" name="email" asp-for="Email"    placeholder="name@example.com">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <div class="form-label">
                                            <span class="d-flex justify-content-between align-items-center">
                                                Password
                                                <a class="text-secondary" href="/">Forgot Password?</a>
                                            </span>
                                        </div>
                                        <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="***************">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <div asp-validation-summary="ModelOnly" class="validation-error text-danger d-flex justify-content-center align-items-center">
                                        
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <button class="btn btn-lg btn-block btn-primary lift text-uppercase link-opacity-25-hover" type="submit">SIGN IN</button>
                                </div>
                            </form>
                            <!-- End Form -->

                        </div>
                    </div>
                </div> <!-- End Row -->

            </div>
        </div>

    </div>


