@model ChangePasswordModel

<form id="changePasswordForm">
    <input type="hidden" asp-for="EmployeeId">
    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
        <h6 class="mb-0 fw-bold ">Change password</h6>
        <button type="button" id="btn-change-password" class="btn btn-primary text-uppercase px-5">Change</button>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label col-6 col-sm-5">Old Password:</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" asp-for="Password" id="Password">
                </div>
                <span data-valmsg-for="0" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label class="form-label col-6 col-sm-5">New Password:</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" asp-for="NewPassword" id="NewPassword">
                </div>
                <span data-valmsg-for="1" class="text-danger"></span>
                
            </div>
            <div class="col-12">
                <label class="form-label col-6 col-sm-5">Confirm Password:</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword">
                </div>
                <span data-valmsg-for="3" class="text-danger"></span> 
            </div>
        </div>
    </div>
</form>