@model CreateEmployeeViewModel
@{
    ViewData["Title"] = "Create Employee";
}
@section Styles{
    <!--plugin css file -->
    <link rel="stylesheet" href="~/plugin/cropper/cropper.min.css">
    <link rel="stylesheet" href="~/plugin/dropify/dist/css/dropify.min.css"/>
}

@section Scripts{
    <!-- Jquery Plugin -->
    <script src="~/plugin/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script src="~/plugin/cropper/cropper.min.js"></script>
    <script src="~/plugin/cropper/cropper-init.js"></script>
    <script src="~/bundles/dropify.bundle.js"></script>
    <!-- Jquery Page Js -->
    <script src="~/js/template.js"></script>
    <script>
        $(document).ready(function() {
            //Ch-editer
            ClassicEditor
                .create( document.querySelector( '#editor' ) )
                .catch( error => {
                    console.error( error );
                } );
            //Deleterow
            $("#tbproduct").on('click', '.deleterow', function () {
                $(this).closest('tr').remove();
            });
        });
        $(function() {
            $('.dropify').dropify();
            var drEvent = $('#dropify-event').dropify();
            drEvent.on('dropify.beforeClear', function(event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function(event, element) {
                alert('File deleted');
            });

            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });
        });
    </script>
    <script>
        const debounce = (func,delay = 1500) => {
            let timer;
            return function (...args){
                clearTimeout(timer);
                timer = setTimeout(function (){
                    func.apply(this,args);
                },delay);
            }
        }
        const handleEmailInput = debounce(
            (event) => {
                $.ajax({
                    url: "@Url.Action("CheckUniqueEmail","Employees")",
                    method: "POST",
                    data:{
                        email : event.target.value
                    },
                    success: (res) =>{
                        if (res.statusCode === 200){
                            $("#Email-error").text(res.value.message);
                            $("#btn-save").prop("disabled",true);
                        }else{
                            $("#Email-error").text("");
                            $("#btn-save").prop("disabled",false);
                        }
                    },
                    error: (err) => {
                        console.log(err);
                    }
                })
            }
        )
        $("#Email").on("input",handleEmailInput)
    
    </script>
}
<!-- Body: Body -->
            <div class="body d-flex py-3">
                <div class="container-xxl">
                    <form enctype="multipart/form-data" method="post" asp-action="Create" asp-controller="Employees">
                        @Html.AntiForgeryToken()
                        <div class="row align-items-center">
                            <div class="border-0 mb-4">
                                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                    <h3 class="fw-bold mb-0">Employees Add</h3>
                                    <button type="submit" id="btn-save" class="btn btn-primary py-2 px-5 text-uppercase btn-set-task w-sm-100">Save</button>
                                </div>
                            </div>
                        </div> <!-- Row end  -->
                        <div class="row g-3 mb-3">
                            <div class="col-lg-4">
                                <div class="sticky-lg-top">
                                    <div class="card mb-3">
                                        <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                                            <h6 class="m-0 fw-bold">Visibility Status</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="active" asp-for="Status" checked id="radio-active">
                                                <label class="form-check-label " style="cursor: pointer" for="radio-active">
                                                    Active
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="warnning" asp-for="Status" id="radio-warning">
                                                <label class="form-check-label" style="cursor: pointer" for="radio-warning">
                                                    Warning
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="banned" asp-for="Status" id="radio-banned">
                                                <label class="form-check-label" style="cursor: pointer" for="radio-banned">
                                                    Banned
                                                </label>
                                            </div>
                                            <span id="Status" asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                                            <h6 class="m-0 fw-bold">Gender</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="male" asp-for="Gender" checked id="radio-male">
                                                <label class="form-check-label " style="cursor: pointer" for="radio-male">
                                                    Male
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="female" asp-for="Gender" id="radio-female">
                                                <label class="form-check-label" style="cursor: pointer" for="radio-female">
                                                    Female
                                                </label>
                                            </div>
                                            <span asp-validation-for="Gender" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header py-2 bg-transparent border-bottom-0">
                                            <h6 class="m-0 fw-bold">Employee Avatar Upload</h6>
                                        </div>
                                        <div class="card-body">
                                            <input type="file" id="dropify-event" asp-for="AvatarFile">
                                            <span asp-validation-for="AvatarFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                        <h6 class="mb-0 fw-bold ">Profile information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row g-3 align-items-center">
                                            <div class="col-md-6">
                                                <label class="form-label" for="EmployeeName">Name</label>
                                                <input type="text" class="form-control" asp-for="EmployeeName" id="EmployeeName" tabindex="1">
                                                <span asp-validation-for="EmployeeName" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="Email">Email</label>
                                                <input type="text" class="form-control" asp-for="Email" id="Email" tabindex="2">
                                                <span asp-validation-for="Email" class="text-danger" id="Email-error"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="Phone">Phone</label>
                                                <input type="text" class="form-control" asp-for="Phone" id="Phone" tabindex="3">
                                                <span asp-validation-for="Phone" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="EmployeePosition">Position</label>
                                                <select id="EmployeePosition" class="form-select" asp-for="EmployeePosition" tabindex="4">
                                                    <option value="" selected></option>
                                                    <option value="manager">Manager</option>
                                                    <option value="sales">Sales</option>
                                                    <option value="customer_care">Customer care</option>
                                                    <option value="deliver">Deliver</option>
                                                    <option value="intern">Intern</option>
                                                    <option value="stock">stock</option>
                                                </select>
                                                <span asp-validation-for="EmployeePosition" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="Role" class="form-label">Roles</label>
                                                <select id="Role" class="form-select" asp-for="RoleId">
                                                    <option value="" selected>Choose a role</option>
                                                    @if (Model.Roles != null)
                                                    {
                                                        @foreach (var item in Model.Roles)
                                                        {
                                                            <option value="@item?.RoleId"> @item?.RoleName</option>
                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="RoleId" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="Store" class="form-label">Stores</label>
                                                <select id="Store" class="form-select" asp-for="StoreId">
                                                    <option value="" selected>Choose a store </option>
                                                       @if (Model.Stores != null)
                                                        {
                                                            @foreach (var store in Model.Stores)
                                                            {
                                                                <option value="@store?.StoreId">@store?.StoreName</option>
                                                            }
                                                        }
                                                </select>
                                                <span asp-validation-for="StoreId" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="Password" class="form-label">Password</label>
                                                <input type="password" class="form-control" asp-for="Password" id="Password" tabindex="5">
                                                <span asp-validation-for="Password" class="text-danger"></span>

                                            </div>
                                            <div class="col-md-6">
                                                <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                                                <input type="password" class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword" tabindex="6">
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Row end  -->
                    </form>
                </div>
            </div>    