<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["title"] - Management Fashion Shop</title>
    <!-- project css file  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ebazar.style.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>

<div id="ebazar-layout" class="theme-blue">
    @RenderBody()
</div>

<!-- Jquery Core Js -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bundles/libscripts.bundle.js"></script>
</body>
</html>